@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.twoColumnLayout {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0 ;

  @media (min-width: $breakpoint-medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1400px;
    padding: 1rem 0 0 0;
  }
}


.textColumn {
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Scheherazade New";
    padding: 2rem 0;


    @media (min-width: $breakpoint-small) {
      font-size: 2.5rem;
      padding: 0 0 1rem;

    }
  }
  

  .excerpt 
  p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 1.25rem;

    @media (min-width: $breakpoint-small) {
      font-size: 1rem;
    }
  }

  .buttonWrapper {
    padding: 0;
    @media (min-width: $breakpoint-small) {
      font-size: 1rem;
    }
  }
  
}
.readMoreButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: var(--wpe--color--black);
  margin-top: 0.3rem;
  font-weight: 300;
  // letter-spacing:0.25em ;
}

.imageColumn {
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .mainImage {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .caption {
    font-size: 0.85rem;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
  }
}

.imageColumn {
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  .mainImage {
    object-fit: cover;
    // padding: 1rem 0 0 0;
  }

  .caption {
    font-size: 0.85rem;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.5rem;
    padding: 1rem 0.5rem 0 0.5rem;
  }
}
