@import 'styles/breakpoints';

.component {
  max-width: 100vw;
  margin: 0 auto;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 2rem;

  @media (min-width: $breakpoint-extra-small) {
    max-width: 1200px;
  }
  .layout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  
  .content-wrapper {
    flex: 0 0 800px;
    padding: 1.75rem 1rem 0;

    @media (min-width: $breakpoint-extra-small) {
      max-width: 800px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .ads-wrapper {
    flex: 0 0 300px;
    max-width: 300px;
    position: relative;
  
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  .ads-mobile {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
  
    @media (min-width: 769px) {
      display: none;
    }
  }
  
  .sticky-ads {
    position: sticky;
    top: 2rem;
    will-change: transform; 
  }
  
  

  /* Swiper styles */
  .swiper-container {
    width: 100%;
    height: auto;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .swiper-pagination {
      position: absolute;
      bottom: 10px;
      text-align: center;
      width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #000;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 30px;
    }

    .swiper-pagination-bullet {
      background-color: rgba(255, 255, 255, 0.5);
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
      background-color: #ffffff !important;
    }
  }

  .figure {
    text-align: center;
    margin: 2rem auto;
    max-width: 100%;

    figcaption {
      font-size: 0.9rem;
      color: #666;
      margin-top: 0.5rem;
      line-height: 1.4;
    }
  }

  .dropcap {
    display: inline-block;
    font-size: 3.6rem;
    line-height: 1;
    font-weight: 700;
    font-family: var(--font--eb--garamond);
    vertical-align: top;
    margin-right: 0.3rem;
    transform: translateY(0.05em); // ini agar sejajar dengan baris teks
    color: #000000;
    color: var(--wpe--color--title);

    @media (min-width: $breakpoint-small) {
      font-size: 4.2rem;
      margin-right: 0.4rem;
      transform: translateY(0.1em); // sesuaikan sedikit jika font besar
    }
  }

  :global {
    // Scope WordPress block styles within ContentWrapper.
    @import 'styles/blocks';

    .dropcap {
      padding-right: 0.5rem;
      text-transform: uppercase;
      color: var(--wpe--color--black);
      line-height: 1;
      @media (min-width: $breakpoint-small) {
        padding-right: 0.5rem;
      }
    }

    * {
      padding: 0 0 0.5rem;
      line-height: 1.5rem;
      @media (min-width: $breakpoint-small) {
        padding: 0 0 0.5rem;
      }
    }

    i,
    u,
    strong,
    b,
    p,
    span {
      padding: 0;
    }

    figure {
      max-width: 100%;
      padding: 0;

      figcaption {
        padding: 0;
        font-size: 0.8rem;
        line-height: 1.2;
        text-align: start;
        font-style: italic;

        @media (min-width: $breakpoint-extra-small) {
          padding: 0;
          // font-size: 1rem;
        }
      }
    }

    p:has(img)#text {
      display: flex;
      padding: 0 1rem;
      justify-content: flex-end;
      color: var(--wpe--color--grey);
      font-size: 0.8rem;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: end;

      @media (min-width: $breakpoint-extra-small) {
        padding: 0;
        font-size: 1rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.15px;
      padding: 0;
    }

    div:has(img),
    p:has(img),
    img,
    div:has(iframe),
    p:has(iframe),
    iframe,
    p > em:first-of-type,
    a,
    em,
    div:has(video),
    p:has(video),
    video {
      padding: 0.5rem 0 0.5rem;

      @media (min-width: $breakpoint-extra-small) {
        padding: 0.75rem 0 0.75rem;
      }
    }

    div:has(video),
    p:has(video),
    video {
      width: 100vw;

      @media (min-width: $breakpoint-extra-small) {
        max-width: 700px;
      }
    }

    p:empty,
    p:has(br:only-child) {
      display: none;
    }

    p {
      &:empty {
        display: none;
      }
    }

    strong {
      padding: 0;
      font-weight: 700;
    }

    a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: var(--wpe--color--teal--deep);
    
      text-align: center;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    li {
      font-size: 1.6rem;
    }

    img {
      display: block;
      height: auto;
      min-width: 100%;
    }

    .alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    code,
    pre {
      color: var(--color-white);
      background: var(--color-black);
    }

    code {
      padding: 0.25rem 0.5rem;
    }

    pre {
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
    }

    blockquote {
      border-top: 1px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
      font-style: italic;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 4rem 1rem 4rem;
      text-align: center;

      &::before {
        content: 'â€';
        display: block;
        font-size: 6rem;
        line-height: 0;
        margin: 2rem 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead th {
      border-bottom: 1px solid var(--wpe--color--border);
      padding-bottom: 0.5em;
    }

    th {
      padding: 0.4rem 0;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid var(--wpe--color--border);
    }

    td {
      padding: 0.4em;
    }

    iframe {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      // min-height: 80vh;
    }

    .breakout-box-wrapper {
      display: flex;
      flex-direction: column;
      padding: 0 0 1rem;
      margin-bottom: 1rem;
      background-color: var(--wpe--color--cyan);
      border-bottom: solid 1rem var(--wpe--color--black);

      p {
        padding: 0;
      }

      span.breakout-box-title {
        display: flex;
        padding: 2rem 1rem;
        font-family: var(--font--eb--garamond);
        font-weight: 700;
        line-height: 1.2;
        font-size: 2.25rem;
        color: var(--wpe--color--title);
        text-transform: none;
        width: 100%;

        @media (min-width: $breakpoint-extra-small) {
          padding: 2rem;
          font-size: 2.75rem;
        }
      }

      p.breakout-box-text {
        padding: 0 1rem 1rem;

        @media (min-width: $breakpoint-extra-small) {
          padding: 0 2rem 1rem;
        }
      }
    }
  }
}
