@import 'styles/variables';
@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.component {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
}

.fixed-search {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.results-scroll {
  margin-top: 1.5rem;
  overflow-y: auto;
  height: calc(100vh - 6rem);
  padding-right: 0.5rem;
}

/* CONTENT */
.content-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $breakpoint-small) {
    min-width: calc(1000px - 4rem);
    padding-bottom: 2rem;
  }
}

.left-wrapper {
  flex: 0 0 35%;
  width: 35%;

  @media (min-width: $breakpoint-extra-small) {
    flex: 0 0 25%;
    width: 25%;
  }
}

.right-wrapper {
  flex: 0 0 65%;
  width: 65%;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-extra-small) {
    flex: 0 0 75%;
    width: 75%;
  }
}

/* IMAGE + ALT FALLBACK */
.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  margin-top: 0.7rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    display: block;
    /* ALT TEXT STYLE */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  img:not([src]),
  img[src=''],
  img[aria-hidden='true'] {
    object-fit: contain !important;
    background: #f4f4f4;
  }
}

@media (min-width: $breakpoint-small) {
  .image-wrapper img {
    font-size: 1rem;
  }
}

/* META */
.meta-date {
  display: flex;
  gap: 0.4rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.meta {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  font-weight: 200;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 0.85rem;
  }
}

/* TAGS */
.tags-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
  margin-bottom: 0.3rem;
}

.tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  opacity: 0.85;
}

/* TITLE */
.title.truncate a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Scheherazade New';
  font-weight: 300;
  font-size: 0.9rem;

  @media (min-width: $breakpoint-small) {
    font-size: 1.5rem;
  }
}

/* EXCERPT */
.excerpt {
  margin-top: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 300;

  @media (min-width: $breakpoint-small) {
    font-size: 1rem;
    -webkit-line-clamp: 4;
  }
}

/* NO RESULTS */
.no-results {
  text-align: center;
  width: 100%;
  height: calc(-7rem + 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;

  @media (min-width: $breakpoint-extra-small) {
    height: calc(-11rem + 100vh);
  }
}

.no-results-row {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.no-results-icon {
  font-size: 1.5rem;
  opacity: 0.9;
}

.no-results-text {
  font-family: 'Open Sans';
  font-size: 1.1rem;
  font-weight: 300;
}

/* SEARCH INPUT */
.search-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
  font-weight: 300;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  color: var(--wpe--color--white);

  @media (min-width: $breakpoint-extra-small) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.search-close {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: var(--wpe--color--white);
  background: none;
  border: none;
  font-size: 1.2rem;
  z-index: 20;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.5rem;
    right: 1.5rem;
  }
}

.search-input {
  width: 100%;
  height: 2rem;
  font-family: 'Open Sans';
  font-size: 0.7rem;
  padding: 1rem 2.5rem;

  color: #fff !important;
  background: transparent !important;

  border-radius: 50px;
  border: 2px solid #fff;

  &::placeholder {
    color: #ffffff !important;
    opacity: 1;
  }

  @media (min-width: $breakpoint-extra-small) {
    height: 2.875rem;
    font-size: 1rem;
    padding: 1rem 4rem;
  }
}

.search-input:focus-visible {
  outline: none;
}

.meta-date .meta:last-child {
  opacity: 0.7;
}

.meta-date {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}
