@import "styles/breakpoints";

// Wrapper sticky untuk Outnow
.stickyWrapper {
  position: sticky;
  top: 80px; 
  z-index: 10;
  background-color: var(--wpe--main--background-color);
  padding-bottom: 1rem;
}

// Style dasar komponen
.component {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.image-wrapper {
  position: relative;
  width: 300px;
  height: 600px;

  img {
    object-fit: cover;
  }
}
