@import 'styles/breakpoints';
@import 'styles/fonts/typography';

/* ============================
   WRAPPER UTAMA
============================ */
.component {
  background-color: var(--wpe--main--background-color);
  color: var(--wpe--color--white);
  position: relative;
  overflow: hidden;
  margin: 0;
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 500;
  width: 100vw;
  height: calc(-3.5rem + 100vh);

  @media (min-width: $breakpoint-extra-small) {
    height: calc(-4.5rem + 100vh);
  }
}

/* ============================
   IMAGE WRAPPER
============================ */
.image-wrapper {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  margin: 0 auto;
  padding: 0;

  figure {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* ============================
   UPPER WRAPPER (content + title)
============================ */
.upper-wrapper {
  position: absolute;
  top: 5%;
  width: 100%;
  height: calc(-4.5rem + 80vh);
  font-size: 1rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 2rem;
    max-width: 700px;
  }
}

/* ============================
   CONTENT
============================ */
.content-wrapper {
  position: relative;
  width: 100%;
  top: 0;
  padding: 0 1rem;
  font-size: 1.5rem;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0;
    font-size: 2.5rem;
  }

  h2 {
    font-size: 3rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 7rem;
    }
  }

  p {
    font-family: 'Ringside Regular A', 'Ringside Regular B';
    font-weight: 500;
    font-size: 1.125rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 1.25rem;
    }
  }
}

/* ============================
   SEARCH (JIKA DIPAKAI HALAMAN LAIN)
============================ */
.search-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem 0 2rem;

  * {
    text-transform: none;
  }

  @media (min-width: $breakpoint-extra-small) {
    padding: 1rem 0 3.5rem;
  }

  .search-input-wrapper {
    width: 100%;
    padding: 0 1rem;
    position: relative;

    @media (min-width: $breakpoint-extra-small) {
      max-width: 700px;
    }

    svg {
      color: var(--wpe--color--black);
    }

    input {
      background-color: var(--wpe--color--white);
      color: var(--wpe--color--black);
      border: 2px solid var(--wpe--color--white);
      border-radius: 0;
      text-align: left;
    }
  }

  .search-result-wrapper {
    position: absolute;
    display: grid;
    top: 4.5rem;
    left: 0;
    width: 100%;
    height: calc(-4.5rem + 60vh);
    padding: 1rem;
    overflow: auto;
    justify-content: center;
    text-align: left;
    color: var(--wpe--color--black);

    @media (min-width: $breakpoint-extra-small) {
      top: 5rem;
      height: calc(-4.5rem + 50vh);
    }

    p {
      font-family: 'Chronicle Display A', 'Chronicle Display B';
      font-weight: 500;
      font-size: 1.125rem;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 1.25rem;
      }
    }
  }
}

/* ============================
   FOOTER LINK
============================ */
.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(-4.5rem + 20vh);
  padding: 0 1rem;
  font-size: 1.5rem;
  display: inline-block;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 2.5rem;
    max-width: 700px;
  }
}