@import 'styles/variables';
@import 'styles/breakpoints';
@import 'styles/fonts/typography';

$color-grey: #777;

.component {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  height: calc(-10.75rem + 100vh);
  overflow: auto;
  margin: 0 auto;

  @media (min-width: $breakpoint-extra-small) {
    padding: 1rem;
    height: calc(-12.85rem + 100vh);
    max-width: 700px;
  }
}

.content-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  min-width: calc(100vw - 2rem);

  @media (min-width: $breakpoint-small) {
    min-width: calc(700px - 4rem);
    padding-bottom: 2rem;
  }
}

.left-wrapper {
  width: 50%;
  flex-shrink: 0;

  @media (min-width: $breakpoint-extra-small) {
    width: 33.33%;
  }
}

.right-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-extra-small) {
    width: 66.67%;
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  margin-top: 0.7rem;

  img,
  span {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
  }
}

.meta-date {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.meta {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  text-transform: uppercase;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 0.8rem;
  }
}

.title.truncate a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Scheherazade New';
  text-transform: none;
  font-weight: 300;

}

.excerpt {
  margin-top: 0.5rem;

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: none;


    @media (min-width: $breakpoint-small) {
      font-size: 1rem;
    }
  }
}

.no-results {
  text-align: center;
  color: $color-grey;
  width: 100%;
  height: calc(-7rem + 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    height: calc(-11rem + 100vh);
  }
}

.no-results-icon {
  font-size: 6rem;
}

.no-results-text {
  font-size: 3rem;
}
