@import 'styles/variables';
@import 'styles/fonts/typography';

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  appearance: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--wpe--color--teal--deep);
  text-transform: uppercase;

  @media (min-width: $breakpoint-small) {
    font-size: 1.5rem;
    padding: 2rem 0;
  }

  &.button-primary {
    color: var(--wpe--color--teal--deep);
    border-color: var(--wpe--color--teal--deep);
    // background-color: var(--color-white);
  }

  &.button-secondary {
    color: var(--wpe--color--teal--deep);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  &:hover {
    border-color: var(--color-black);
    background-color: var(--color-black);
    color: var(--wpe--color--teal--deep);
  }

  // &:focus {
  //   outline: 1px dotted;
  //   outline: 1px auto -webkit-focus-ring-color;
  // }
}
