@import "styles/breakpoints";

// Wrapper utama untuk layout
.component-updates {
  display: flex;
  justify-content: center; /* Center content horizontally */
  padding: 2rem;
  // background-color: var(--wpe--color--white);
}

// Struktur dua kolom
.two-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 3;
  // background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }

  @media (min-width: $breakpoint-medium) {
    max-width: var(--wpe--container--max--width);
  }
}

// Kolom kiri dengan lebar 7/12
.left-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  
  /* Mengatur lebar menjadi 7/12 */
  @media (min-width: $breakpoint-small) {
    width: 58.33%; /* 7/12 dari lebar */
  }

  @media (min-width: $breakpoint-medium) {
    width: 58.33%; /* 7/12 dari lebar */
  }
}

// Kolom kanan dengan lebar 5/12
.right-column {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  @media (min-width: $breakpoint-small) {
    width: 41.67%; /* 5/12 dari lebar */
  }

  @media (min-width: $breakpoint-medium) {
    width: 41.67%; /* 5/12 dari lebar */
    align-content: flex-end;
  }
}

// Styling untuk komponen Outnow
.outnow-component {
  padding: 20px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  .outnow-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .outnow-content {
    font-size: 1rem;
    color: var(--wpe--color--dark);
  }
}

// Styling untuk komponen CategoryUpdates
.category-updates-component {

  padding: 20px;
  // border-radius: 8px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .category-updates-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--wpe--color--dark);
  }

  .category-updates-item {
    padding: 10px;
    // border-bottom: 1px solid var(--wpe--color--light-grey);
    margin-bottom: 10px;

    &:last-child {
      border-bottom: none;
    }
  }
}
