@import 'styles/breakpoints';

.component {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
  max-width: 700px;
  padding: 0;
  border-top: 1px solid var(--wpe--color--black);

  @media (min-width: $breakpoint-extra-small) {
    border: 1px solid var(--wpe--color--teal--light);
  }

  a {
    :hover,
    :focus {
      text-decoration: underline;
    }
  }
}

.full-menu-content {
  display: flex;
  height: calc(-5rem + 100vh);
  width: 100%;
  overflow-x: hidden;
  padding: 0 1rem 7rem;
  transition: transform 0.1s ease-out;
  transition: top 0.4s ease-in-out;
  flex-direction: column;

  @media (min-width: $breakpoint-extra-small) {
    max-height: calc(15rem + 100vh);
    width: 100%;
    padding: 0 0 7rem;
  }

  > div > div {
    border: none;
  }
}

.custom-icon {
  font-family: 'Unit Slab Pro Black';
  font-weight: 400;
  color: var(--wpe--color--black);
  font-size: 1rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.125rem;
  }
}

.menu-wrapper {
  padding: 0;
}

.accordion-wrapper {
  padding: 0 0 0.5rem;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0 0 1rem;
  }
}

.accordion-title-wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  padding: 0;

  a {
    width: fit-content;
    :hover,
    :focus {
      text-decoration: none;
    }
  }

  button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  h2 {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    @media (min-width: $breakpoint-extra-small) {
      column-gap: 0.5rem;
    }
  }

  .accordion-title {
    .title {
      font-weight: 700;
      color: var(--wpe--color--black);
      // background-color: var(--wpe--color--teal--light);
      padding: 0.75rem;
      display: flex;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      width: fit-content;
      font-size: 0.65rem;
      font-family: 'Open Sans', sans-serif;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 0.875rem;
      }

      @media (min-width: $breakpoint-medium) {
        font-size: 1.25rem;
      }
      &:hover,
      &:focus {
        font-weight: 700;
        color: var(--wpe--color--teal--light);
        
        @media (min-width: $breakpoint-extra-small) {
          color: var(--wpe--color--teal--light);
        }
      }
      .active {
        font-weight: 700;
        color: var(--wpe--color--teal--light);
        
        @media (min-width: $breakpoint-extra-small) {
          color: var(--wpe--color--teal--light);
        }
      }
    }

    .title-dark {
      color: var(--wpe--color--black);
      background-color: var(--wpe--color--white);
    }
  }
  .navigation-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: $breakpoint-extra-small) {
      padding-left: 0.5rem;
    }
  }

  .navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2vw;
    flex: 1;

    @media (min-width: $breakpoint-extra-small) {
      column-gap: 2rem;
    }
  }
  .separator {
    margin: 0 0.5rem;
    font-weight: bold;
    color: var(--wpe--color--black);
  }
  .nav-link {
    display: flex;

    .not-active {
      border-bottom: 3px solid transparent;
      color: var(--wpe--color--teal--light);
      
      @media (min-width: $breakpoint-extra-small) {
        border-bottom: 5px solid transparent;
        color: var(--wpe--color--teal--light);
      }
      
      &:hover,
      &:focus {
        font-weight: 700;
        border-bottom: 3px solid var(--wpe--color--teal--light);
        color: var(--wpe--color--teal--light);
        
        @media (min-width: $breakpoint-extra-small) {
          color: var(--wpe--color--teal--light);
          border-bottom: 5px solid var(--wpe--color--teal--light);
        }
      }
    }
    
    .active {
      font-weight: 700;
      border-bottom: 3px solid var(--wpe--color--teal--light);
      color: var(--wpe--color--teal--light);
      
      @media (min-width: $breakpoint-extra-small) {
        border-bottom: 5px solid var(--wpe--color--teal--light);
        color: var(--wpe--color--teal--light);
      }
    }
  }


  .nav-name {
    font-size: 0.65rem;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    font-family: 'Open Sans', sans-serif;

    @media (min-width: $breakpoint-extra-small) {
      border-bottom: 5px solid transparent;
    }

    @media (min-width: $breakpoint-extra-small) {
      font-size: 0.875rem;
    }

    @media (min-width: $breakpoint-medium) {
      font-size: 1.25rem;
    }

    &:hover,
    &:focus {
      // border-bottom: 3px solid var(--wpe--color--teal--light);
      color: var(--wpe--color--teal--light);

      @media (min-width: $breakpoint-extra-small) {
        // border-bottom: 5px solid var(--wpe--color--teal--light);
        color: var(--wpe--color--teal--light);
      }
    }
  }

  .nav-name-dark {
    &:hover,
    &:focus {
      border-bottom: 3px solid var(--wpe--color--white);

      @media (min-width: $breakpoint-extra-small) {
        border-bottom: 5px solid var(--wpe--color--white);
      }
    }
  }
}

.menu-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap; // jaga-jaga jika viewport sempit
  margin-bottom: 1rem;
  gap: 1rem; // jarak antar parent dan children

  @media (min-width: $breakpoint-extra-small) {
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
}

.parent-menu {
  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: var(--wpe--color--black);
    font-family: 'Open Sans', sans-serif;
    padding-left: 1rem;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.25rem;
    }

    &:hover,
    &:focus {
      color: var(--wpe--color--teal--light);
    }
  }

  .title-dark {
    color: var(--wpe--color--white);
  }
}
.parent-separator {
  padding-left:1rem;
  font-weight: bold;
  
  @media (min-width: $breakpoint-extra-small) {
    padding-left: 1rem;
  }
}

.children-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $breakpoint-extra-small) {
    gap: 1rem;
  }

  .separator {
    margin: 0 0.5rem;
    font-weight: bold;
    color: var(--wpe--color--black);
    padding: 0 0.5rem 0 0;
    
    @media (min-width: $breakpoint-extra-small) {
      padding: 0 1rem 0 0;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
  }

  .nav-name {
    font-size: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 0.875rem;
    }

    @media (min-width: $breakpoint-medium) {
      font-size: 1rem;
    }

    &:hover,
    &:focus {
      color: var(--wpe--color--teal--light);
    }
  }

  .nav-name-dark {
    &:hover,
    &:focus {
      color: var(--wpe--color--white);
    }
  }
}
