@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.guideReelIgWrap {
  max-width: 1400px;
  margin: 2rem 0 1rem;
  padding-block: 1rem 2rem 1rem 2rem;
  padding-inline: 1rem;
  box-sizing: border-box;

  @media (min-width: 1400px) {
    padding-inline: 0;
    margin: 3rem auto 2rem;
  }
}

/* TITLE */
.titleWrapper {
  text-align: center;
  margin: 0 auto 1rem auto;
  font-family: "Scheherazade New";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.1;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (max-width: $breakpoint-small) {
    font-size: 2rem;
  }
}

/* CONTENT */
.contentWrapper {
  text-align: center;
  margin-bottom: 2rem;

  h1,
  h2,
  h3,
  p,
  span,
  strong,
  em {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: inherit;
    margin: 0 0 1rem 0;
    line-height: 1.6;
    text-align: inherit;

    @media (max-width: $breakpoint-medium) {
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.1rem;
  }
}

/* TOP SECTION */
.topSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3.5rem 0 3.5rem;
  justify-content: space-between;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    gap: 3rem;
    margin: 2rem 0 0 0;
  }
}

/* BOTTOM SECTION */
.bottomSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 3rem 0 0 0;
  justify-content: space-between;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    gap: 3rem;
    margin-top: 1rem 0 1rem 0;
  }
}

/* LEFT + RIGHT LAYOUTS */
.leftReel,
.rightReel,
.leftBanner,
.rightVideo {
  img,
  iframe,
  video,
  .videoContent {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.leftReel,
.rightReel {
  p {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.leftReel {
  flex: 0 0 23.5%;
}

.rightVideo {
  flex: 0 0 74%;
  gap: 1rem;

  .videoContent {
    border-radius: 0.5rem;
  }

  @media (max-width: $breakpoint-small) {
    margin-bottom: 1rem;
  }
}

.rightReel {
  flex: 0 0 25%;

  img {
    aspect-ratio: 9 / 16;
  }
}

.leftBanner {
  flex: 0 0 73%;

  img {
    aspect-ratio: 1.64 / 1;
  }
}

/* VIDEO CONTENT (16:9) */
.videoContent {
  iframe,
  video,
  embed {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
  }
}

/* REEL CONTENT (9:16) */
.reelContent {
  justify-content: center;

  iframe,
  video,
  embed {
    aspect-ratio: 9 / 16;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  @media (max-width: $breakpoint-medium) {
    iframe,
    video,
    embed {
      max-width: 210px;
    }
  }

  @media (max-width: $breakpoint-small) {
    iframe,
    video,
    embed {
      max-width: 250px;
    }
  }
}
