@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.guideReelIgWrap {
  max-width: 1400px;
  margin: 2rem auto;

  @media (max-width: $breakpoint-medium) {
    padding: 0 1rem;
  }
}

/* TITLE UTAMA */
.titleWrapper {
  text-align: center;
  margin: 0 auto 1rem auto;
  font-family: 'Unit Slab Pro Black';
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.4;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  text-align: center;
  margin-bottom: 2rem;

  h1,
  h2,
  h3,
  p,
  span,
  strong,
  em {
    font-family: 'Unit Slab Pro', serif;
    font-weight: normal;
    font-size: inherit;
    margin: 0 0 1rem 0;
    line-height: 1.6;
    text-transform: none;
    text-align: inherit;

    @media (max-width: $breakpoint-medium) {
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.1rem;
    font-weight: normal;
  }
}

.topSection,
.bottomSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;

  // MOBILE & TABLET
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    padding-top: 2rem;
  }
}

.rightReel {
  flex: 0 0 25%;

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.leftBanner {
  flex: 0 0 73%;

  @media (min-width: $breakpoint-extra-small) {
  }

  img,
  iframe,
  video,
  .videoContent {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;  }
}
.leftReel {
  flex: 0 0 23.5%;

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.rightVideo {
  flex: 0 0 74%;
  gap: 1rem;
  @media (min-width: $breakpoint-extra-small) {
  }

  img,
  iframe,
  video,
  .videoContent {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.videoContent {
  width: 100%;
  iframe,
  video,
  embed {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
  }
}

.reelContent {
  iframe,
  video,
  embed {
    width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
}
