@import "styles/breakpoints";

.halfpage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
  @media (min-width: $breakpoint-small) {
    padding: 0 ;
 }
}

.halfpage-banner {
  display: contents;
}
