@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.component {
  background-color: var(--wpe--main--background-color);
  color: var(--wpe--color--black);
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 1rem 0;

}

.header-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 0;
  @media (min-width: $breakpoint-extra-small) {
    max-width: 1200px;

  }
}

.meta-wrapper {
  display: flex;
  font-weight: 300;
  font-size: 0.8rem;
  max-width: 100%;
  padding-bottom: 2rem;
  flex-direction: row;
  row-gap: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: start;
  padding: 0 1rem;
  color: var( --wpe--color--gray-light);


  @media (min-width: $breakpoint-large) {
    max-width: 100%;
    font-size: 1rem;
    padding-bottom: 3rem;
    padding: 0 1rem;

  }
}
.meta-author {
  color: var(--wpe--color--teal--deep);
  display: inline;
}

.category-name {
  color: var(--wpe--color--teal--deep);
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: 0.2em;
  padding: 0 1rem;
  @media (min-width: $breakpoint-extra-small) {
    color: var(--wpe--color--teal--deep);
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.25rem;
    max-width: 800px;
    padding: 0 1rem;
  }
}

.title,
.parent {
  font-family: 'Scheherazade New';
  line-height: 1;
  font-size: 1.5rem;
  text-align: start;
  font-weight: 500;
  color: var(--wpe--color--title);
  text-transform: uppercase;
  padding: 1rem;
  @media (min-width: $breakpoint-extra-small) {
    font-size: 2rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 2.5rem;
    max-width: 800px;
    padding: 1rem;

  }
}

.icon-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 500;

  .category-label {
    font-size: 1rem;
    line-height: 1.2;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.25rem;
    }
  }

  .location-label {
    font-size: 1rem;
    line-height: 1.2;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.25rem;
    }
  }

  .icon {
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
