@import 'styles/breakpoints';

.component {

  margin-right: 0;
  margin-left: 0;
  max-width: 100%;
  padding-bottom: 2rem;
  padding-top: 0;

  @media (min-width: $breakpoint-small) {
    padding-top: 1rem;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 1.25rem;
    }
  }
}
