@font-face {
  font-family: 'ChunkFive-Regular';
  src: url('../../assets/fonts/ChunkFive-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DreamOrphans-Regular';
  src: url('../../assets/fonts/dream-orphans.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DreamOrphans-Italic';
  src: url('../../assets/fonts/dream-orphans-it.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DreamOrphans-Bold';
  src: url('../../assets/fonts/dream-orphans-bd.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DreamOrphans-BoldItalic';
  src: url('../../assets/fonts/dream-orphans-bd-it.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Black';
  src: url('../../assets/fonts/UnitSlabPro-Black.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Black Italic';
  src: url('../../assets/fonts/UnitSlabPro-BlackIta.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Bold';
  src: url('../../assets/fonts/UnitSlabPro-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Bold Italic';
  src: url('../../assets/fonts/UnitSlabPro-BoldIta.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Italic';
  src: url('../../assets/fonts/UnitSlabPro-Ita.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Light';
  src: url('../../assets/fonts/UnitSlabPro-Light.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Light Italic';
  src: url('../../assets/fonts/UnitSlabPro-LightIta.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Medium';
  src: url('../../assets/fonts/UnitSlabPro-Medi.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Medium Italic';
  src: url('../../assets/fonts/UnitSlabPro-MediIta.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Thin';
  src: url('../../assets/fonts/UnitSlabPro-Thin.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Thin Italic';
  src: url('../../assets/fonts/UnitSlabPro-ThinIta.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Ultra';
  src: url('../../assets/fonts/UnitSlabPro-Ultra.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro Ultra Italic';
  src: url('../../assets/fonts/UnitSlabPro-UltraIta.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Unit Slab Pro';
  src: url('../../assets/fonts/UnitSlabPro.ttf');
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 400; /* berat normal, bisa disesuaikan */
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-style: italic;
  font-weight: 400; /* berat normal, bisa disesuaikan */
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('../../assets/fonts/RubikMonoOne-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}