@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.footer {
  background-color: #4cbab2;
  color: var(--wpe--color--white);
  padding: 2rem 1rem;

  a {
    color: var(--wpe--color--white);
    text-decoration: none;
  }

  .container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0;
    }
    @media (min-width: $breakpoint-medium) {
      max-width: calc(1400px + 2rem);
      padding: 0 1rem;
    }
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.footer-left {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;

  .social-icons {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid white;
      font-size: 1rem;
      color: var(--wpe--color--white);
      transition: all 0.3s ease;

      &:hover {
        color: var(--wpe--color--black);
        border-color: black;
      }
    }
  }

  .footer-text {
    margin-top: auto;
    font-size: 0.75rem;
    line-height: 1.2;
    color: var(--wpe--color--white);
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    max-width: 60%;

    p {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      line-height: 1.2;
      font-weight: 200;
      font-family: 'Open Sans', sans-serif;
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  .back-to-top {
    border: 1px solid white;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: var(--wpe--color--white);
    background-color: transparent;
    transition: color 0.3s ease;

    &:hover {
      color: white;
      font-weight: 600;


    }
  }
  .footer-logos {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    img {
      object-fit: contain;
      width: 80px;
      height: auto;
    }

    @media (min-width: 769px) {
      flex-direction: column;
      align-items: flex-end;

      img {
        width: 120px;
      }
    }
  }
}
