@import 'styles/breakpoints';

.navigation-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  left: 10%;
  width: 80%;
  z-index: 51;
  top: -2rem;


  @media (min-width: $breakpoint-extra-small) {
    top: -3rem;
  }

  * {
    color: var(--wpe--color--black);
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    top: -4.5rem;
    height: 100%;
    width: 100%;
    max-width: 700px;
    padding: 0 1rem 0;
    background-color: transparent;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 2rem;
      margin: 0 auto;
      top: -4.5rem;

    }


    @media (min-width: $breakpoint-large) {
      margin: 0 auto;
      padding: 0;
      position: relative;
      max-width: 700px;
      top: -0.5rem;
    }
  }
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0;
    min-width: 4rem;
    width: fit-content;
    height: 100%;
    color: var(--wpe--color--white--smoke);

    @media (min-width: $breakpoint-extra-small) {
      min-width: 20%;
      max-width: 100%;
    }

    .menu-title {
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 0.65rem;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 0.875rem;
      }

      @media (min-width: $breakpoint-large) {
        font-size: 1.25rem;
      }
    }

    svg {
      margin: 0;
      padding: 0;
      height: 2rem;
    }

    &:hover,
    &.active {
      background-color: var(--wpe--color--teal--light);
      color: var(--wpe--color--white);

      * {
        color: var(--wpe--color--white);
      }
    }

    &.active-not-scrolled {
      background-color: transparent;

      * {
        font-weight: 700;
      }
    }

    // ===  BUTTON GUIDES ===
    &.menu-button-guides {
      background-color: var(--wpe--color--teal--light);
      color: var(--wpe--color--white);
      font-weight: bold;

      .menu-title {
        color: var(--wpe--color--white);
      }

      &:hover,
      &.active {
        background-color: var(--wpe--color--teal--dark);
        color: var(--wpe--color--white);

        .menu-title {
          font-weight: bold;
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: -5.5rem;
  left: 25%;
  width: 50%;
  background-color: transparent;
  transform: translateY(7rem);

  * {
    color: var(--wpe--color--black);
  }

  @media (min-width: $breakpoint-extra-small) {
    top: 0.5rem;
    transform: translateY(1rem);
  }
  @media (min-width: $breakpoint-large) {
    top: 0.5rem;
    transform: translateY(1rem);

  }
}

.full-menu-content {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(10px);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.7rem;
    // height: calc(-4.7rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top:4.5rem;
      // height: calc(1.35rem + 100vh);
    }

    @media (min-width: $breakpoint-large) {
      top:4.5rem;
      // height: calc(1.35rem + 100vh);
    }

  }
}

.full-menu-wrapper {
  background-color: var(--wpe--main--background-color);
  position: relative;
  max-width: 700px;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto;
  }

  * {
    color: var(--wpe--color--black);
  }
}
