@import 'styles/breakpoints';

/* WRAPPER UTAMA */
.componentVideos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--wpe--color--teal--deep);
  padding: clamp(2rem, 3vw, 3rem) 0;
}

/* TITLE VIDEOS */
.titleVideos {
  width: 100%;
  max-width: var(--wpe--container--max--width);
  margin-bottom: clamp(2rem, 3vw, 3rem);
  font-family: 'Scheherazade New', serif;
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  font-weight: 530;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--wpe--color--white);
}

/* SECTION GRID */
.newsUpdates {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CONTENT WRAPPER */
.twoColumns {
  width: 100%;
  max-width: var(--wpe--container--max--width);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  z-index: 3;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5%;
  }
}

/* LEFT — VIDEO AREA */
.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

/* RIGHT — ADS AREA */
.rightColumn {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: normal;

  @media (max-width: $breakpoint-small) {
    width: 100%;
    margin-top: 1.5rem;
  }

  .outnowWrapper {
    position: sticky;
    top: 5rem; 
    width: 100%;
    min-height: 600px;
  }
}

/* VIDEO WRAPPER */
.videoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
