@import 'styles/breakpoints';

.componentVideos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--wpe--color--teal--deep);
  padding: 2rem 0;
}

.titleVideos {
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  color: var(--wpe--color--white);
  font-family: 'Scheherazade New', serif;
  text-align: left;
  width: 100%;
  max-width: var(--wpe--container--max--width);
  margin-bottom: 1.5rem;
  font-weight: 530;
  letter-spacing: 0.03em;
}

.newsUpdates {
  display: flex;
  justify-content: center;
  width: 100%;

  .twoColumns {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--wpe--container--max--width);
    position: relative;
    z-index: 3;
    gap: 1.5rem;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
      align-items: flex-start;
      gap: 5%;
    }
  }

  .leftColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    order: 1;
    z-index: 2;
  }

  .rightColumn {
    flex: 0 0 20%;
    order: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $breakpoint-small) {
      width: 100%;
      margin-top: 1.5rem;
    }

    .outnowWrapper {
      position: sticky;
      top: 5rem;
      width: 100%;
      min-height: 600px;
    }
  }
}

.videoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
