@import 'styles/breakpoints';

// Main layout wrapper
.component-updates {
  display: flex;
  justify-content: center;
  background-color: var(--wpe--color--white--smoke);
}

// Category Updates Component
.category-updates-component {
  .category-updates-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--wpe--color--dark);
  }

  .category-updates-item {
    padding: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.component-indo {
  padding: 0;
  margin: 0;
  background-color: var(--wpe--color--white--smoke);
  width: 100%;
  margin-left: calc(-50% + 50%);
  position: relative;
  z-index: 1;
}

.category-indo-component {
  width: 100%;
}

.divider {
  border: none;
  border-top: 1px solid #000000;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;

  @media (min-width: $breakpoint-small) {
    padding: 1.5rem 0;
  }
}
.divider-news-updates {
  border: none;
  border-top: 1px solid #000000;
  width: 100%;
  max-width: 100%;
  margin: 3rem 0 2rem;

  @media (min-width: $breakpoint-small) {
    margin: 0;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Scheherazade New', serif;
  text-align: start;
}

.category-updates-component {
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 550;
    font-family: 'Scheherazade New', serif;
    padding-bottom: 2.5rem;

    @media (min-width: $breakpoint-small) {
      font-size: 3rem;
      padding-bottom: 3.5rem;
    }
  }
}

.component-news-updates {
  display: flex;
  justify-content: center;
  background-color: var(--wpe--color--white--smoke);
  min-height: 100%;

  .two-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 3;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
      align-items: flex-start;
    }

    @media (min-width: $breakpoint-medium) {
      max-width: var(--wpe--container--max--width);
    }
  }

  .left-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    order: 1;

    @media (min-width: $breakpoint-small) {
      width: 73%;
      order: 1;
    }
  }

  .right-column {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    order: 2;

    @media (min-width: $breakpoint-small) {
      width: 20%;
      margin-left: 5%;
      order: 2;
    }

    .outnow-wrapper {
      margin-top: 0;

      @media (min-width: $breakpoint-small) {
        position: sticky;
        top: 5rem;
        margin-top: 0;
      }
    }
  }
  .ad-slot {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
