@import 'styles/breakpoints';

// Main layout wrapper
.component-updates {
  display: flex;
  justify-content: center;
  background-color: var(--wpe--color--white--smoke);
}

// Category Updates Component
.category-updates-component {
  padding: 0 0 1rem 0;

  .category-updates-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--wpe--color--dark);
  }

  .category-updates-item {
    padding: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.component-indo {
  padding: 0;
  margin: 0;
  background-color: var(--wpe--color--white--smoke);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  z-index: 1;
}

.category-indo-component {
  width: 100%;
}

.divider {
  border: none;
  border-top: 1px solid #000000;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Scheherazade New', serif;
  text-align: start;
  // padding: 1rem 0;
}

.category-updates-component {
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Scheherazade New', serif;
  }
}

.wrapper-videos {
  width: 100%;
  background-color: var(--wpe--color--teal--deep);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-videos {
  display: flex;
  justify-content: center;
  background-color: var(--wpe--color--teal--deep);
  min-height: 100%;
}

.title-videos {
  font-size: 2rem;
  background-color: var(--wpe--color--teal--deep);
  font-weight: bold;
  font-family: 'Scheherazade New', serif;
  text-align: start !important;
}

// Outnow Component
.outnow-videos {
  background-color: var(--wpe--color--teal--deep);
  padding: 0 1rem;

  .outnow-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .outnow-content {
    font-size: 1rem;
    color: var(--wpe--color--dark);
  }
}
.component-news-updates {
  display: flex;
  justify-content: center;
  background-color: var(--wpe--color--white--smoke);
  min-height: 100%;

  .two-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 3;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
      align-items: flex-start;
    }

    @media (min-width: $breakpoint-medium) {
      max-width: var(--wpe--container--max--width);
    }
  }

  .left-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    order: 1;

    @media (min-width: $breakpoint-small) {
      width: 73%;
      order: 1;
    }
  }

  .right-column {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    order: 2;

    @media (min-width: $breakpoint-small) {
      width: 20%;
      margin-left: 5%;
      order: 2;
    }

    .outnow-wrapper {
      margin-top: 2rem;

      @media (min-width: $breakpoint-small) {
        position: sticky;
        top: 5rem;
        margin-top: 0;
      }
    }
  }

  // ========================
  // OUTNOW SECTION
  // ========================

  .outnow-videos {
    background-color: var(--wpe--color--teal--deep);
    padding: 0 1rem;

    .outnow-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .outnow-content {
      font-size: 1rem;
      color: var(--wpe--color--dark);
    }
  }
}
