@import 'styles/breakpoints';
@import 'styles/variables';
@import 'styles/fonts/typography';

$font-main: 'Open Sans', sans-serif;
$font-serif: 'Scheherazade New', serif;

.CategoryFeaturesWrapper {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: $font-main;
  font-weight: 300;

  @media screen and (min-width: $breakpoint-small) {
  gap: 3.5rem;
  padding-bottom: 2rem;
  }
}

.title {
  font-family: $font-serif;
  font-size: 2rem;
  font-weight: 530;
  padding-bottom: 1rem;

  @media (min-width: $breakpoint-small) {
    font-size: 3rem;
    padding: 1rem 0 0 0;
  }
}

.description,
.articleCount,
.readMore,
.slug,
.excerpt,
.parentCategory,
.postCategory,
.date,
.viewMoreWrapper {
  font-family: $font-main;
  font-weight: 300;
}

.description {
  font-size: 1rem;
  color: var(--wpe--color--deep--black);
}

.articleCount {
  font-size: 0.9rem;
  font-style: italic;
}

.gridSection {
  display: grid;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  padding: 0 0 1rem 0;
}

.slug {
  font-size: 1.1rem;
  color: var(--wpe--color--black);
}

.excerpt {
  font-size: 13px;
  color: var(--wpe--color--black);
  line-height: 1.2;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 2rem 0 0 0;

  @media (min-width: $breakpoint-small) {
    padding: 2rem 0 0.5rem 0;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parentCategory {
  font-size: 1rem;
  color: var(--wpe--color--teal--deep);
  padding-top: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.postCategory {
  font-size: 12px;
  color: #999;
  margin-bottom: 8px;
}

.readMore {
  font-size: 0.85rem;
  color: var(--wpe--color--black);
}

.date {
  font-size: 0.75rem;
  color: #999;
  margin-top: 0.4rem;
  padding-bottom: 2rem;
}
