@import 'styles/variables';
@import 'styles/fonts/typography';
@import 'styles/breakpoints';

$font-main: 'Open Sans', sans-serif;
$font-title: 'Scheherazade New', serif;

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0 3rem 0;
  background-color: var(--wpe--color--white--smoke);

  @media (min-width: $breakpoint-small) {
    padding: 0 0 4rem 0;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  @media screen and (min-width: $breakpoint-small) {
    margin-bottom: 3.5rem;
  }
}

.logo {
  display: block;
  object-fit: contain;
  width: 100px;
  height: auto;

  @media (min-width: $breakpoint-small) {
    width: 150px;
    height: auto;
  }

  @media (min-width: $breakpoint-large) {
    width: 200px;
    height: auto;
  }
}

.title {
  font-family: $font-title;
  font-size: 2rem;
  font-weight: 550;
  text-align: center;
  color: var(--wpe--color--black);

  @media (min-width: $breakpoint-small) {
    font-size: 2.5rem;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 3rem;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $breakpoint-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.nameOverlay {
  color: white;
  font-family: $font-main;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  @media (min-width: $breakpoint-small) {
    font-size: 1.5rem;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 1.75rem;
  }
}

.comingsoon {
  color: white;
  font-family: $font-main;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1rem;
  text-transform: uppercase;

  @media (min-width: $breakpoint-small) {
    font-size: 1rem;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 1.2rem;
  }
}
