@import 'styles/breakpoints';

.component {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;

  @media (min-width: $breakpoint-small) {
    max-width: 1400px;
  }

  .grid-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .post-wrapper {
    width: 100%;

    @media (min-width: $breakpoint-small) {
      flex: 0 0 calc(33.333% - 1.34rem);
    }
  }

  .banner-ad-wrapper {
    width: 100%;
  }
}

.fokusLayoutGrid {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.leftBanner30 {
  flex: 0 0 30%;
}

.rightContent70 {
  flex: 0 0 70%;
}

.guide-info {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.9rem, 1vw, 1rem);

  .separator {
    color: #888;
    font-weight: 600;
  }

  .guide-name {
    font-weight: 700;
  }

  .guide-location,
  .guide-price,
  .book-now-button {
    color: #000;
    transition: color 0.2s ease;
    text-decoration: none;

    &:hover {
      color: var(--wpe--color--teal--deep);
    }
  }
}
