@import 'styles/breakpoints';

.component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  position: relative;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    max-width: calc(1400px + 2rem);
  }

  .post-wrapper,
  .advertorial-wrapper {
    width: 100vw;
    max-width: 700px;

    @media (min-width: $breakpoint-small) {
      width: calc(50vw - 1rem);
    }
  }

  .banner-ad-wrapper {
    width: 100vw;
  }
}
.fokusLayoutGrid {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.leftBanner30 {
  flex: 0 0 30%;
}

.rightContent70 {
  flex: 0 0 70%;
}


.guide-info {
  margin: 1.5rem 1rem 0 1rem;
  font-size: 0.95rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-family: 'Inter', sans-serif;

  .separator {
    color: #888;
    font-weight: bold;
  }

.guide-name {
  font-weight: bold;
  font-size: 1rem;
}

.guide-location {
  color: #000000;
  font-size: 0.95rem;
  &:hover {
    color: var(--wpe--color--teal--deep);
  }
}
.guide-price {
  color: #000000;
  font-size: 0.95rem;
}

.book-now-button {
  color: rgb(0, 0, 0);
  font-size: 0.95rem;
  text-decoration: none;
  transition: background 0.2s;

  &:hover {
    color: var(--wpe--color--teal--deep);
  }
}
}