@import 'styles/breakpoints';

.navigation-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 2.75rem;
  width: 100vw;
  z-index: 51;
  padding: 0;

  @media (min-width: $breakpoint-extra-small) {
    top: 3.5rem;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    padding: 0.5rem 1rem 0.75rem;
    background-color: transparent;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 2rem;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-small) {
      padding: 0;
    }

    @media (min-width: $breakpoint-large) {
      margin: 0 auto;
      position: relative;
      padding: 0;
      z-index: 48;
    }
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0;
    min-width: 4rem;
    width: fit-content;
    height: 100%;
    color: var(--wpe--color--white--smoke);

    @media (min-width: $breakpoint-extra-small) {
      min-width: 20%;
      max-width: 100%;
    }

    .menu-title {
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 0.65rem;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 0.875rem;
      }

      @media (min-width: $breakpoint-large) {
        font-size: 1.25rem;
      }
    }

    svg {
      margin: 0;
      padding: 0;
      height: 2rem;
    }

    &:hover,
    &.active {
      background-color: var(--wpe--color--teal--light);
      color: var(--wpe--color--white);

      * {
        color: var(--wpe--color--white);
      }
    }

    &.active-not-scrolled {
      background-color: transparent;

      * {
        font-weight: 700;
      }
    }

    // ===  BUTTON GUIDES ===
    &.menu-button-guides {
      background-color: var(--wpe--color--teal--light);
      color: var(--wpe--color--white);
      font-weight: bold;

      &:hover,
      &.active {
        background-color: var(--wpe--color--teal--dark);
        color: var(--wpe--color--white);

        .menu-title {
          font-weight: bold;
        }
      }
    }
  }
}

.sticky {
  background-color: var(--wpe--main--background-color);
  position: fixed;
  top: -4.25rem;
  left: 0;
  width: 100%;
  transform: translateY(7rem);

  @media (min-width: $breakpoint-extra-small) {
    top: -3.5rem;
  }

  * {
    color: var(--wpe--color--black);
  }

  // Cegah warna putih pada button guides tertimpa
  .menu-button-guides {
    color: var(--wpe--color--white) !important;

    .menu-title {
      color: var(--wpe--color--white) !important;
    }

    svg {
      color: var(--wpe--color--white) !important;
      fill: var(--wpe--color--white) !important;
    }

    &:hover,
    &.active {
      background-color: var(--wpe--color--teal--dark);
      color: var(--wpe--color--white) !important;

      .menu-title {
        font-weight: bold;
        color: var(--wpe--color--white) !important;
      }
    }
  }
}


.full-menu-content {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -150vh;
  z-index: 48;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  &.show {
    top: 5.7rem;
    height: calc(100vh - 4.7rem);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      height: calc(100vh - 5.8rem);
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      height: calc(100vh - 6.35rem);
    }
  }
}

.full-menu-wrapper {
  background-color: var(--wpe--main--background-color);
  position: relative;
  max-width: 700px;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto;
  }

  * {
    color: var(--wpe--color--black);
  }
}

