@import 'styles/variables';
@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.component {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
}

.fixed-search {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.results-scroll {
  margin-top: 1.5rem;
  overflow-y: auto;
  height: calc(100vh - 6rem);
  padding-right: 0.5rem;
}

/* ---------------------- CONTENT ---------------------- */
.content-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  min-width: calc(100vw - 2rem);

  @media (min-width: $breakpoint-small) {
    min-width: calc(700px - 4rem);
    padding-bottom: 2rem;
  }
}

.left-wrapper {
  width: 50%;
  flex-shrink: 0;

  @media (min-width: $breakpoint-extra-small) {
    width: 33.33%;
  }
}

.right-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-extra-small) {
    width: 66.67%;
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  margin-top: 0.7rem;

  img,
  span {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
  }
}

.meta-date {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.meta {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 0.6rem;
  letter-spacing: 0.8px;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 0.8rem;
  }
}

.title.truncate a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Scheherazade New';
  text-transform: none;
  font-weight: 300;
}

/* ---------------------- EXCERPT ---------------------- */
.excerpt {
  margin-top: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media (min-width: $breakpoint-small) {
    font-size: 1rem;
  }
}

/* ---------------------- NO RESULTS ---------------------- */
.no-results {
  text-align: center;
  width: 100%;
  height: calc(-7rem + 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  @media (min-width: $breakpoint-extra-small) {
    height: calc(-11rem + 100vh);
  }
}

.no-results-row {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.no-results-icon {
  font-size: 1.5rem;
  opacity: 0.9;
}

.no-results-text,
.no-results-subtext {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.no-results-text {
  font-size: 1.1rem;
  line-height: 1;
}

.no-results-subtext {
  font-size: 0.95rem;
  margin-top: 0.3rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1rem;
  }
}
/* ---------------------- SEARCH INPUT ---------------------- */
.search-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
}

.search-icon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: var(--wpe--color--white);

  @media (min-width: $breakpoint-extra-small) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.search-close {
  display: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: var(--wpe--color--white);
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;

  @media (min-width: $breakpoint-extra-small) {
    display: block;
  }
}

.search-input {
  width: 100%;
  height: 2rem;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: var(--color-white);
  font-size: 0.7rem;
  line-height: 1.2;
  text-align: left;
  background-color: var(--color-white);
  padding: 1rem 2.5rem;
  border: 2px solid #ffffff;
  border-radius: 50px;

  @media (min-width: $breakpoint-extra-small) {
    height: 2.875rem;
    padding: 1rem 4rem;
    font-size: 1rem;
  }
}

.search-input:focus-visible {
  outline: none;
}
