@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom SCSS imports (setelah Tailwind)
@import "breakpoints";
@import "css-variables";
@import "variables";
@import "utilities";
@import "animation";
@import "fonts/typography";
@import "base";


/* styles/globals.scss (atau styles/globals.css) */
.global-highlight {
    background-color: var(--wpe--color--teal--dark);
    color: #fff;
    padding: 0 4px;
    border-radius: 3px;
    font-weight: 400;
  }
  

  /* Mode Screenshot: sembunyikan semua popup/menu/overlay */
.ss-mode .popup,
.ss-mode .dropdown,
.ss-mode .menu-overlay,
.ss-mode .modal {
  display: none !important;
}

/* Fix header/sticky yang kadang muncul saat SS */
.ss-mode .fixed,
.ss-mode .sticky {
  position: static !important;
}
