@import 'styles/breakpoints';

.componentGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }
}

.leftBanner30 {
  flex: 0 0 100%;

  @media (min-width: $breakpoint-small) {
    flex: 0 0 30%;
  }
}

.rightContent70 {
  flex: 1;

  @media (min-width: $breakpoint-small) {
    flex: 0 0 70%;
  }
}

.guideStoriesWrap {
  width: 100%;
}

.contentGrid {
  width: 100%;
}

.rightBanner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-wrapper {
  margin-bottom: 2rem;
}
